---
layout: default
title: Overview
class: overview
nav-order: 1
---

<section class="page__title site-header__offset align-center content--light-color">
  <div class="row row--padding">
    <h1 class="page__title-text page__title-text--border hidden">Explore Peru</h1>
    <img class="title" src="{{site.baseurl}}/img/content/title-explore-peru.png" alt="Explore Peru">
    <p class="lead">From the remnants of ancient civilisations to Indiana Jones-style exploits in the rainforest, Peru catapults visitors into the spirit of adventure.</p> <p>Some of the planet’s most awe-inspiring wonders are here – the life-sustaining Amazon, the sacred Machu Picchu and the highest tropical mountain range in the world, the Andes. And it’s a place that’s evolving rapidly. The capital, Lima, is a gastronomic powerhouse, home to some of the most innovative and exciting restaurants around. It feels about as far-flung as any holiday can get – so it might surprise you, then, that you can find direct British Airways flights from just £602* return from London Gatwick (no other airlines offer non-stop flights between London and Lima). Have a play with the Low Fare Finder to locate the best fare for your trip.</p>
    <a class="btn" href="flights">Book Now</a>
  </div>
</section>


<section class="page__content">
  <div class="row">

    <div class="three-sixty-pano">
      <div class="three-sixty-pano__wrap double-border" style="background-image: url('{{site.baseurl}}/img/three-sixty-pano/lighthouse.jpg');">
        <a class="three-sixty-pano__icon" href="#link-to-pano">
          <img class="js-svg-swap" src="{{site.baseurl}}/img/icon/three-sixty.png" alt="360 icon">
        </a>
        <div class="three-sixty-pano__subtitle">Fly Over Lima</div>
        <h2 class="three-sixty-pano__title">Paraglide Miraflores</h2>
        <a href="#link-to-pano" class="btn">Take A Virtual Tour</a>
      </div>
    </div>

  </div>
</section>


<section class="content-list">
  <div class="row row--columns-6-6 row--columns-6-6-gutters">
    {% assign pages = site.pages | sort:"nav-order" %}
    {% for page in pages %}{% if page.title and page.class != "overview" and page.class != "competition" %}
    <div class="content-list--item row__column double-border bg-image-ratio bg-image-ratio--4-3" style="background-image: url('{{ site.baseurl }}/img/content/overview-{{ page.class }}.jpg')">
      <a href="{{ site.baseurl }}{{ page.url }}" class="content-list--link content-list--link-border" id="overview-nav-{{ page.class }}">
        <h3 class="text-nm">{{ page.title }}</h3>
      </a>
    </div>
    {% endif %}{% endfor %}
  </div>
</section>



<section>
  <div class="row">
    <div class="row row--columns-6-6 row--columns-6-6-gutters row--columns-vertical-align card card--bg-black content--light-color double-border">

      <a href="{{site.baseurl}}/competition" class="card__image row__column bg-image-ratio bg-image-ratio--4-3" style="background-image: url({{site.baseurl}}/img/content/overview-competition.jpg)"></a>

      <div class="row__column card__content">
        <h3>Enter the competition</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>
        <a href="{{site.baseurl}}/competition" class="btn btn--brighter">Enter now</a>
      </div>

    </div>
  </div>
</section>

