---
layout: default
title: Overview
class: overview
nav-order: 1
---



<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Ba | Secret Escapes Lima Microsite Oct 2016 | Home
URL of the webpage where the tag is expected to be placed: http://tbc.com
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 10/18/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4300794.fls.doubleclick.net/activityi;src=4300794;type=misc;cat=basehomp;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4300794.fls.doubleclick.net/activityi;src=4300794;type=misc;cat=basehomp;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->



<section class="page__title site-header__offset align-center content--light-color">
  <div class="row row--padding">
    <h1 class="page__title-text page__title-text--border hidden">Explore Peru</h1>
    <img class="title" src="{{site.baseurl}}/img/content/title-explore-peru.png" alt="Explore Peru">
    <p class="lead">Dramatic landscapes fuse seamlessly with bustling cityscapes, in a country that invites spirited adventurers and intrepid explorers. </p>
    <p>From the fringes of the Amazon, the heights of the Andes peaks and to the long beaches on the Pacific, Peru is a captivating hive of activity and leisurely pursuits. Unbeatable experiences, like trekking up to the enchanting Machu Picchu, or kicking back at the largest lake in South America, the beguiling Lake Titicaca, make Peru an awe-inspiring landscape where history and culture burst into action. Take Lima, the capital, where gastronomical refinement and authentic bites await in a myriad of high-end restaurants and propped up street food shacks, each offering a unique take on a diverse and sumptuous cuisine. If you can tear yourself away from the buzzing streets, Lima makes for a great platform to explore Peru’s many wonders, and with the only direct flights from the UK offered by British Airways from just £525 return* if you book before the 8th of November, this is the best time to explore this enthralling land.</p>
    <a class="btn" href="https://ad.doubleclick.net/ddm/clk/311050258;138765337;d">Book Now</a>
  </div>
</section>


<section class="page__content">
  <div class="row">

    <div class="three-sixty-pano">
      <div class="three-sixty-pano__wrap double-border" style="background-image: url('{{site.baseurl}}/img/three-sixty-pano/lighthouse.jpg');">
        <a class="three-sixty-pano__icon" href="https://www.secretescapes.com/britishairwayslima/three-sixty-image/paraglide-miraflores/index.html">
          <img class="js-svg-swap" src="{{site.baseurl}}/img/icon/three-sixty.png" alt="360 icon">
        </a>
        <div class="three-sixty-pano__subtitle">Fly Over Lima</div>
        <h2 class="three-sixty-pano__title">Paraglide Miraflores</h2>
        <a href="https://www.secretescapes.com/britishairwayslima/three-sixty-image/paraglide-miraflores/index.html" class="btn">Take A Virtual Tour</a>
      </div>
    </div>

  </div>
</section>


<section class="content-list">
  <div class="row row--columns-6-6 row--columns-6-6-gutters">
    {% assign pages = site.pages | sort:"nav-order" %}
    {% for page in pages %}{% if page.nav-order and page.class != "overview" and page.class != "competition" %}
    <div class="content-list--item row__column double-border bg-image-ratio bg-image-ratio--4-3" style="background-image: url('{{ site.baseurl }}/img/content/overview-{{ page.class }}.jpg')">
      <a href="{{ site.baseurl }}{{ page.url }}" class="content-list--link content-list--link-border" id="overview-nav-{{ page.class }}">
        <h2 class="text-nm">{{ page.title }}</h2>
      </a>
    </div>
    {% endif %}{% endfor %}
  </div>
</section>



<section>
  <div class="row">
    <div class="row row--columns-6-6 row--columns-6-6-gutters row--columns-vertical-align card card--bg-black content--light-color">

      <a href="{{site.baseurl}}/competition" class="card__image row__column bg-image-ratio bg-image-ratio--4-3 double-border" style="background-image: url({{site.baseurl}}/img/content/overview-competition.jpg)"></a>

      <div class="row__column card__content">
        <h3>Enter the competition</h3>
        <p>Fancy winning a pair of return direct British Airways flights to Lima? Take a minute to enter our competition, and you could be heading to London Gatwick to experience the awe-inspiring sights of Peru first hand.</p>
        <a href="{{site.baseurl}}/competition" class="btn btn--brighter">Enter now</a>
      </div>

    </div>
  </div>
</section>




<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);

    function generateScript(src_1, src_2){
      var script = document.createElement('script');
      var script_link = src_1 + ord + src_2;
      script.src = script_link;
      $('head').append(script);
    };

    /*-- DoubleClick
      -- Secret Escapes_BA Logo on Mircosite_Pros_CPM_1x1 --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/adj/N9402.2141904SECRETESCAPES/B10384212.138760198;sz=1x1;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick
      -- Secret Escapes_View/book flights CTA - bottom of the page_Pros_CPM_1x1 --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/adj/N9402.2141904SECRETESCAPES/B10384212.138765337;sz=1x1;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

  </script>

</div>

