<section id="ba-promo" class="content--light-color">
  <div class="row row-padding double-border double-border--outer">
    <div class="wrap content-padding">
      <div class="column">
        <h3>Travel in comfort &amp;&nbsp;style</h3>
        <p>British Airways range of travel classes offers something for every taste and budget. No matter how you choose to travel with British Airways, they aim to make your journey more enjoyable and special.</p>
        <a id="button-ba-promo" href="https://ad.doubleclick.net/ddm/clk/301767001;128908029;z" class="btn btn--brighter">Book Now</a>
        <div class="logos">
          <img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/gatwick-airport.png" alt="Gatwick Airport Logo">
          <img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/british-airways.png" alt="British Airways Logo">
        </div>
      </div>
    </div>
  </div>
</section>