<div class="row">
  <h2>Lorem ipsum dolor sit amet consectetur</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat temporibus nulla pariatur, debitis vero quaerat recusandae, labore iure eaque dolor cum sint rerum officiis. Ullam quidem repellat saepe laboriosam molestias.</p>
  <p>Dicta perspiciatis nobis impedit unde porro, labore molestias eos consequatur ipsam, quod repudiandae? Ea tenetur explicabo odio ratione molestiae dolorum, cupiditate quia laudantium, ipsum illum officia, asperiores expedita neque placeat.</p>
  <p>Molestias quod impedit, voluptatibus perspiciatis repellendus alias dolorum, provident aspernatur, ex illum labore natus consectetur doloremque ipsam. Magni dicta voluptas, neque expedita earum nemo sit delectus quis labore non quas!</p>
</div>

<div class="row three-sixty-pano">
  <div class="three-sixty-pano__wrap double-border" style="background-image: url('img/three-sixty-pano/lighthouse.jpg');">
    <a class="three-sixty-pano__icon" href="#link-to-pano">
      <img class="js-svg-swap" src="img/icon/three-sixty.png" alt="360 icon">
    </a>
    <div class="three-sixty-pano__subtitle">Fly Over Lima</div>
    <h2 class="three-sixty-pano__title">Paraglide Miraflores</h2>
    <a href="#link-to-pano" class="btn">Take A Virtual Tour</a>
  </div>
</div>

<div class="row">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptate, itaque assumenda facilis odio. Impedit molestiae recusandae molestias libero id maxime nesciunt quas! Voluptas ab ratione nulla sequi velit, neque earum totam aliquam ullam blanditiis provident repellat doloremque exercitationem expedita architecto quod quibusdam. Voluptatibus illo exercitationem numquam, sint fugiat sapiente, ad, sit ullam modi dicta voluptatum expedita incidunt quisquam quam!</p>
  <p>Earum, ipsa. Consectetur officia ducimus repellat ipsa veritatis possimus voluptas, eum obcaecati autem sint, debitis asperiores dicta natus! Praesentium commodi inventore animi distinctio nostrum rerum, asperiores molestias explicabo repellat eos, odit soluta dicta at totam blanditiis id minus cum, necessitatibus quos hic. Cumque, velit? Earum, laudantium velit ut reiciendis saepe sapiente iste, at deleniti voluptas officiis atque cum alias molestias!</p>
</div>

<div class="row">
  <h3>Lorem ipsum dolor sit amet</h3>
  <div class="row row--columns-7-5-gutters row--columns-vertical-align">
    <div class="row__column">
      <div class="double-border bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/bg/overview.jpg');"></div>
    </div>
    <div class="row__column">
      <p>Follow in the footsteps of the Incas by walking a 39-kilometre trekking and camping trail used by them throughout the history of their empire. The trail crosses through different ecosystems, colossal archaeological sites and terrain rich in flora and fauna, before arriving at the Machu Picchu citadel.</p>
    </div>
  </div>
</div>