// all custom styles for the site


body { background-color: $black; }

.site-footer{
  padding-top: ($margin * 1.5);
  padding-bottom: ($margin * 1.5);
  padding-left: $margin;
  padding-right: $margin;
  color: darken($white, 20);
  font-size: 0.833em;
  font-weight: 400;
  background-image: none !important;
  background-color: $black;
  text-align: center;
  @include bp(large){
    text-align: left;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: $large;
  }
  ul li { list-style-type: none; }
  .logo__partner {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    img { max-width: 80%; }
    @include bp(large){
      margin-left: .66em;
      margin-right: .66em;
      display: inline-block;
      img { max-width: 100%; }
    }
  }
}

.section {
  &--grey-bg {
    background-color: #f2f2f2;
  }
}


// ---------- page style ----------

.page-content {
  background-image: url('../img/bg/bg-default.jpg');
  background-attachment: fixed;
  @include background-attributes;
}

.page {
  &__title {
    &-text {
      text-shadow: 0px 0px 100px $black;
      color: $white;
      &--border {
        &:before,
        &:after{
          content: '';
          display: block;
          width: 25%;
          height: 8px;
          margin: 0.2592em auto;
          border: 0;
          border-top: 2px solid $white-75;
          border-bottom: 2px solid $white-75;
        }
      }
    }
    img.title {
      width: 650px;
      margin-bottom: 2.25em;
    }
  }
  &__content {
    &-wrap {
      padding: 2em 0;
      text-align: left;
      color: $text-black;
      background-color: $white;
      @include bp(large){
        padding: 2.488em 0;
      }
    }
  }
}


// ---------- generic double border ----------

.double-border {
  z-index: $z-content;
  position: relative;
  border: 2px solid $white;
  > *{
    z-index: $z-content-upper;
    position: relative;
  }
  &:after{
    content: '';
    z-index: $z-content;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    display: block;
    border: 2px solid $white;
  }
  &--outer {
    border: 0;
    &:after {
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
    }
  }
}


// ---------- 360 pano blocks ----------

.three-sixty-pano{
  &__wrap {
    padding: 6.192em $margin;
    font-size: 1.2em;
    background: $se-dark-grey-85 0 0 repeat-x;
    background-size: cover;
    animation: back-and-forth 100s linear infinite;
    text-align: center;
    color: $white;
    @include bp (medium){
      padding: 4.3em $margin;
    }
  }
  &__icon {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    &:hover{
      animation: super-spin ($transition-time * 2.75) ease-out 1;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    @include bp (large){
      margin-bottom: 1em;
    }
  }
  &__title {
    line-height: 1;
    margin-bottom: 0;
  }
}


// ---------- Overview page nav ----------

.content-list {
  &--item {
    margin-bottom: 1.5em;
  }
  &--link {
    color: $white;
    transition: all .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 29%;
    text-align: center;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…hlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: radial-gradient(ellipse at center,rgba(0,0,0,.5) 0,transparent 66%,transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000', GradientType=1 );
    &-border {
      &:before,
      &:after{
        transition: all .4s ease;
        content: '';
        display: block;
        width: 33.33%;
        height: 4px;
        margin: .25em auto;
        border: 0;
        border-top: 1px solid rgba(255,255,255,.75);
        border-bottom: 1px solid rgba(255,255,255,.75);
      }
      &:hover:before,
      &:hover:after  { background-color: #fff; }
    }
    &:hover { text-decoration: none; letter-spacing: .025em; }
  }
}

.expert-list {
  .content-list--item {
    display: block;
    &:hover {
      .content-list--link { text-decoration: none; letter-spacing: .025em; }
    }
  }
  .content-list--link {
    top: auto; bottom: 40px; padding: 0; font-size: 0.9em;
  }
}


// ---------- Image block ----------
// Set of three images with hover zoom

.img-block {
  @media (min-width: 650px) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.986em;
    padding-bottom: 2.986em;
  }
  div {
    @media (min-width: 650px) {
      transition: all .4s ease;
      width: 33.33333%;
      float: left;
    }
    &:nth-child(odd) {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
      @media (min-width: 650px) {
        -webkit-transform: scale(.9,.9);
        transform: scale(.9,.9);
      }
    }
    &:nth-child(2) {
      z-index: 5;
      @media (min-width: 650px) {
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
      }
    }
    &:hover {
      -webkit-transform: scale(1.5,1.5);
      transform: scale(1.5,1.5);
      z-index: 10;
    }
    &+& {
      margin-top: -2em;
      @media (min-width: 650px) {
        margin-top: 0;
      }
    }
  }
}


// ---------- Floating containers ----------


.card {
  background-color: white;
  &--bg-black { background-color: $black-85; }
  &__content {
    padding: 1.5em;
    padding-bottom: 2em;
    h2 { text-align: left; }
  }
  &__image {
    display: block;
    margin-top: -2em; margin-bottom: -2em;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); }
  & + & { margin-top: 6em; }

}


// ---------- Unique sections ----------

#ba-promo {
  .wrap {
    color: white;
    position: relative;
    padding: 2em 3.375em;
    background: url(../img/bg/bg-mobile-ba-promo.jpg) 80% 50% no-repeat #000;
    @include bp (large){
      background-image: url(../img/bg/bg-ba-promo.jpg);
      background-position: 142px 58%;
      text-align: left;
    }
    @include bp (xlarge){
      background-position: 100% 58%;
    }
    h3 { text-align: left; }
  }
  .column {
    max-width: 500px;
  }
  .logos {
    padding-top: 1.5em;
    @include bp (large){
      position: absolute;
      right: 3.375em;
      bottom: 0;
    }
    img {
      display: inline-block;
      margin-top: 1em;
      margin-bottom: 2em;
      max-width: 150px;
      margin-left: 1.728em;
    }
  }
}


.travel-tips {
  &--image { margin-bottom: 1em; }
}

