// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  letter-spacing: -.015em;
  -webkit-text-size-adjust: 100%;
  @include bp( large ) {
    font-size: 15px;
  }
}


// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $title-font-family;
  text-transform: uppercase;
  line-height: 1.05;
}

h1, .h1 {
  line-height: 1.05;
  margin-bottom: .2em;
  letter-spacing: -.015em;
  font-size: 3.375em;
  text-align: center;
  @include bp( medium ) {
    font-size: 4em;
  }
  @include bp( large ) {
    font-size: 5.063em;
  }
}

h2, .h2 {
  line-height: 1.25;
  margin-bottom: .5em;
  font-size: 2em;
  @include bp( medium ) {
    font-size: 2.488em;
  }
  @include bp( large ) {
    font-size: 2.986em;
  }
}

h3, .h3 {
  margin-bottom: .5em;
  font-size: 1.728em;
  @include bp( medium ) {
    font-size: 2.074em;
  }
  @include bp( large ) {
    font-size: 2.488em;
  }
}

h4, .h4 { font-size: 1.728em; line-height: 1.1; margin-bottom: .5em; }



// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: 0.833em 1.728em;
  color: white;
  font-weight: 700;
  letter-spacing: 0.0833em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $se-orange;
  background-color: $se-orange-66;
  line-height: 1.2;
  &.btn--brighter{
    background-color: $se-orange-85;
  }
  &:hover{
    background-color: $se-orange;
    text-decoration: none;
  }
  &:hover {
    background-color: $se-orange;
    text-decoration: none;
  }
  * + & { margin-top: 1em; }
  &--small{ font-size: 0.8em; }
  &--reversed{
    background-color: $white;
    border-color: $se-orange-20;
    color: $se-orange;
    &:hover{
      color: $white;
      background-color: $se-orange-85;
    }
  }
}


// -------- general content styles --------

.align-left     { text-align: left; }
.align-right    { text-align: right; }
.align-center   { text-align: center; }
hr { border: 0; height: 1px; background-color: lighten($text, 50%); margin: 2em auto; }

.page-content {
  p + *           { margin-top: 1em; }
  p               { max-width: $xlarge; color: $text; }
  li              { list-style-position: inside; }
  ul li           { list-style-type: disc; }
  ol li           { list-style-type: decimal; }
  em              { font-style: italic; }
  strong          { font-weight: 600; }
  .align-center p { margin-left: auto; margin-right: auto; }
  .text-nm        { margin: 0; }
  .text-justify   { text-align: justify; }
  .lead { font-size: 1.15em; line-height: 1.6; font-weight: 600; letter-spacing: 0; }


}

.content--light-color {
  color: white;
  p { color: white; }
  hr { background-color: rgba(255,255,255,0.1); }
}

