<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top" class="{% if page.class %}{{ page.class }}{% endif %}" {% if page.class %}data-current-page="{{ page.class }}"{% endif %}>

    {% include tracking.html %}

    {% include header.html %}

    <div class="page-content" style="background-image: url('{{site.baseurl}}/img/bg/bg-{{page.class}}.jpg');">
      {{ content }}
      {% if page.class == 'overview' %}
        <div class="bg-overlay"></div>
      {% endif %}
    </div>

    {% include footer.html %}

  </body>

</html>
