---
layout: article
title: Experts
class: experts
nav-order: 8
---

{% assign experts = site.data.experts %}



<div class="row row--padding content--light-color card card--bg-black align-center double-border double-border--outer">
  <div class="card__content">
    <p>Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>
</div>



<section class="page__content">
  <div class="row--margin">

    {% for expert in experts %}
    <div class="row row--columns-5-7 row--columns-5-7-gutters row--columns-vertical-align card">
      <a href="#" class="card__image row__column bg-image-ratio bg-image-ratio--1-1 js-launch-modal" style="background-image: url({{site.baseurl}}/img/content/expert-{{expert.class}}.jpg)"></a>
      <div class="row__column card__content">
        <h2 class="h3">{{expert.name}}</h2>
        <p>{{expert.introduction}}</p>
        <a href="#" class="btn btn--brighter btn--small js-launch-modal" data-expert="{{expert.class}}">Read {{expert.firstname}}'s interview</a>
      </div>
    </div>
    {% endfor %}

    <!-- WILL PEARSON -->
    <div class="row row--columns-5-7 row--columns-5-7-gutters row--columns-vertical-align card">
      <a href="{{site.baseurl}}/will-pearson" class="card__image row__column bg-image-ratio bg-image-ratio--1-1" style="background-image: url({{site.baseurl}}/img/content/expert-will-pearson.jpg)"></a>
      <div class="row__column card__content">
        <h2 class="h3">Will Pearson</h2>
        <p>Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        <a href="{{site.baseurl}}/will-pearson" class="btn btn--brighter btn--small">Read more</a>
      </div>
    </div>

  </div>


  <!-- Expert modal -->
  <div class="js-modal modal is-closed" style="display: none;">
    <div class="js-modal__close modal__close"></div>
    <div class="row">
      {% for expert in experts %}
        <div id="{{expert.class}}" class="modal__content row row--padding is-closed">
          <div class="row row--columns-5-7 row--columns-5-7-gutters row--columns-vertical-align">
            <div class="row__column modal__image bg-image-ratio bg-image-ratio--1-1" style="background-image: url({{site.baseurl}}/img/content/expert-{{expert.class}}.jpg)"></div>
            <div class="row__column">
              <h2>{{expert.name}}</h2>
              <p class="lead">{{expert.introduction}}</p>
            </div>
          </div>
          <hr />
          {{expert.interview}}
        </div>
      {% endfor %}
    </div>
  </div>

</section>





